{% extends 'layout.html' %}
{% block content %}
    <section class="container  vh-100">
        <div class="row  h-75 w-100">
            <div class="col-12 d-flex justify-content-end align-items-start mt-3">
                <div>
                    <a href="{{ url_for('point.points') }}" style="margin-right: 50px;">Dashbord</a>
                    <a href="{{ url_for("auth.index") }}">
                        <button>Logout</button>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5 ml-auto ">
                <div>
                    <div>
                        <h4>Edit a Pointing</h4>
                    </div>
                    <div>
                        <form action="" method="post">
                            {{ form.hidden_tag() }}
                            <div class="d-flex justify-content-between mt-4">
                                <label for="validationTooltip01">Title:</label>
                                <div class="col-6">
                                    {{ form.title(class="w-100") }}
                                </div>
                                {% for error in form.title.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="d-flex justify-content-between mt-2">
                                <label for="validationTooltip02">Description:</label>
                                <div class="col-6">
                                    {{ form.description(class="w-100") }}
                                </div>
                                {% for error in form.description.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="d-flex justify-content-between mt-2">
                                <label for="validationTooltipUsername">Price:</label>
                                <div class="col-6">
                                    {{ form.price(class="w-100") }}
                                </div>
                            </div>
                            {% for error in form.price.errors %}
                                <p style="color: red; display: flex; justify-content: end">{{ error }}</p>
                            {% endfor %}
                            <div class="d-flex justify-content-between mt-2">
                                <label for="newPassword">Quantity:</label>
                                <div class="col-6">
                                    {{ form.quantity(class="w-100") }}
                                </div>
                            </div>
                            {% for error in form.quantity.errors %}
                                <p style="color: red; display: flex; justify-content: end">{{ error }}</p>
                            {% endfor %}
                            <div class="col-12 d-flex mt-3 justify-content-end">
                                {{ form.submit }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}