{% extends 'layout.html' %}
{% block content %}
    <section class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-between align-items-center mt-4">
                <div></div>
                <div>
                    <a href="{{ url_for('point.add_point') }}" style="padding-right: 50px;">Add pointings</a>
                    <a href="{{ url_for('point.points') }}" style="padding-right: 50px;">Dashboard</a>
                    <button>Logout</button>
                </div>
            </div>
            <div class="col-12 mt-5">
                <h2>{{ point.title }}</h2>
                <h6 class="mt-4">Pointed by <i>{{ point.author.full_name }}</i></h6>

                <h5 class="mt-4">Description:</h5>
                <div style="padding-left: 20px;" class="w-25">
                    <p>{{ point.description }}</p>
                </div>

                <h5 class="mt-2">Price:</h5>
                <div style="padding-left: 20px;" class="w-50">
                    <p>$ {{ point.price }}</p>
                </div>
                <h5 style="margin-top: 20px;">Number Purchased:</h5>
                <p style="padding-left: 20px;">{{ point.sold_count }}</p>
            </div>
            {% if is_buy %}
                {% if point.quantity != point.sold_count %}
                    <div class="col-12">
                        <a href="{{ url_for('point.bought_by_user', id=point.id) }}">
                            <button>Buy</button>
                        </a>
                    </div>
                {% else %}
                    <h6>Sold out</h6>
                {% endif %}
            {% else %}
                <h6>You are already bought!</h6>
            {% endif %}
        </div>
    </section>
{% endblock %}